<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RuskomDiagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />            
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <RuskomDiagnostics.Properties.Settings>
            <setting name="BalanceString" serializeAs="String">
                <value>.. Запрос баланса .. </value>
            </setting>
            <setting name="ShowBalloonTipWithShortMilliseconds" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ShowBalloonTipWithGreatMilliseconds" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ConnectionsFineQualitySymptom" serializeAs="String">
                <value>(0%</value>
            </setting>
            <setting name="EmptyColumnValue" serializeAs="String">
                <value>&lt;нет значения&gt;</value>
            </setting>
            <setting name="DefaultColumnName" serializeAs="String">
                <value>Колонка</value>
            </setting>
            <setting name="ApplicationIdentificator" serializeAs="String">
                <value>RuskomDiagnostic</value>
            </setting>
            <setting name="Windows7MajorVersion" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Windows7MinorVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowOnlyOneProgramInstance" serializeAs="String">
                <value>Одновременно может работать только одна программа диагностики</value>
            </setting>
            <setting name="DisconnectOrInvalidConnection" serializeAs="String">
                <value>Отсутствует подключение к сети или неверные настройки сети</value>
            </setting>
            <setting name="RequestBalanceFail" serializeAs="String">
                <value>Баланс лицевого счёта не известен</value>
            </setting>
            <setting name="BalanceTypeRequestFail" serializeAs="String">
                <value>FAIL</value>
            </setting>
            <setting name="BalanceTypeRequestOk" serializeAs="String">
                <value>ok</value>
            </setting>
            <setting name="PingTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SmallPingPackageSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="BigPingPackageSize" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="MeasuresCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RuskomDiagnosticsRunPath" serializeAs="String">
                <value>RuskomDiagnosticsRunPath</value>
            </setting>
            <setting name="UpdateStorageLocation" serializeAs="String">
                <value>ftp://89.106.251.215/</value>
            </setting>
            <setting name="UpdateVersionFilename" serializeAs="String">
                <value>version.info</value>
            </setting>
            <setting name="NewVersionAvailable" serializeAs="String">
                <value>Вышла новая версия, обновить ?</value>
            </setting>
            <setting name="AnonimusFtpUserName" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="AnonimusPassword" serializeAs="String">
                <value>rk1@rk1.ru</value>
            </setting>
            <setting name="DownloadFail" serializeAs="String">
                <value>Ошибка загрузки обновления</value>
            </setting>
            <setting name="QuestionPerformRestart" serializeAs="String">
                <value>Обновление установлено, перезапустить приложение ?</value>
            </setting>
            <setting name="ActualVersionInstalled" serializeAs="String">
                <value>Установлена актуальная версия, обновления не требуется</value>
            </setting>
            <setting name="ResultComponentsDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="SpeedTestExecutable" serializeAs="String">
                <value>iperf.exe</value>
            </setting>
            <setting name="SpeedTestLibrary1" serializeAs="String">
                <value>cyggcc_s-1.dll</value>
            </setting>
            <setting name="SpeedTestLibrary2" serializeAs="String">
                <value>cygstdc++-6.dll</value>
            </setting>
            <setting name="SpeedTestLibrary3" serializeAs="String">
                <value>cygwin1.dll</value>
            </setting>
            <setting name="SpeedTestProgramArguments" serializeAs="String">
                <value>-y C -c</value>
            </setting>
            <setting name="PingExecutable" serializeAs="String">
                <value>ping.exe</value>
            </setting>
            <setting name="TracertExecutable" serializeAs="String">
                <value>tracert.exe</value>
            </setting>
            <setting name="TracertArguments" serializeAs="String">
                <value>-w 1000</value>
            </setting>
            <setting name="TimeComponentIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeedTestIpComponentIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestingPeriodComponentIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DataSentVolumeComponentIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="NetworkSpeedComponentIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="NewLinesSymptom" serializeAs="String">
                <value>\\n</value>
            </setting>
            <setting name="LetAutorunThisVersionQuestion" serializeAs="String">
                <value>Настроена автозапуска другой версии, автоматически запускать эту версию?</value>
            </setting>
            <setting name="LetAutorunApplicationQuestion" serializeAs="String">
                <value>Запускать приложение автоматически при загрузке ? </value>
            </setting>
            <setting name="AutorunEnablingError" serializeAs="String">
                <value>Ошибка добавления в Автозагрузку</value>
            </setting>
            <setting name="AutorunDisablingError" serializeAs="String">
                <value>Ошибка удаления из Автозагрузки</value>
            </setting>
            <setting name="DeletingFileError" serializeAs="String">
                <value>Файл '{0}' существует, при его удалении произошла ошибка</value>
            </setting>
            <setting name="PostRequestTimeout" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="SpeedTestResultAsColumnFormat" serializeAs="String">
                <value>Статус измерения {0}, Время {1}, Адрес {2}, Передано {3} (МБайт), Скорость {4} (Мбит/с) = {5} (МБайт/с);</value>
            </setting>
            <setting name="SpeedTestResultAsStringFormat" serializeAs="String">
                <value>Проверка скорости локальной сети;{0}Статус измерения {1};{0}Время {2};{0}Скорость {5} (Мбит/с) = {6} (МБайт/с);</value>
            </setting>
            <setting name="SpeedTestParseTimeFormat" serializeAs="String">
                <value>yyyyMMddHHmmss</value>
            </setting>
            <setting name="SpeedTestTimeFormat" serializeAs="String">
                <value>dd.MM.yyyy HH:mm:ss</value>
            </setting>
            <setting name="TestResultNumericFormat" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="ActionStatusError" serializeAs="String">
                <value>Ошибка</value>
            </setting>
            <setting name="ActionStatusFail" serializeAs="String">
                <value>Сбой</value>
            </setting>
            <setting name="ActionStatusOk" serializeAs="String">
                <value>Завершено</value>
            </setting>
            <setting name="ActionStatusUnknown" serializeAs="String">
                <value>Неопределённый</value>
            </setting>
            <setting name="ShowRequisitesFormat" serializeAs="String">
                <value>01) Имя &lt;{0}&gt;{1}02) Статус &lt;{2}&gt;{1}03) Карта &lt;{3}&gt;{1}04) Мак адрес &lt;{4}&gt;{1}05) Айпи адрес &lt;{5}&gt;{1}06) Маска &lt;{6}&gt;{1}07) Шлюз &lt;{7}&gt;{1}08) ДэЭнЭс &lt;{8}&gt;{1}</value>
            </setting>
            <setting name="SendDiagnosticsFail" serializeAs="String">
                <value>Общая ошибка</value>
            </setting>
            <setting name="PostDiagnosticsResponceFormat" serializeAs="String">
                <value>Status=&lt;{0}&gt; , Message=&lt;{1}&gt;</value>
            </setting>
            <setting name="ConnectionFineQuality" serializeAs="String">
                <value>Качество связи отличное</value>
            </setting>
            <setting name="ConnectionLoses" serializeAs="String">
                <value>Обнаружины возможные проблемы с соединением, вы можете связаться со службой технической подержки по телефону 221-32-50 с 08 до 23 часов любого дня.</value>
            </setting>
            <setting name="WaitWhileTestProcessed" serializeAs="String">
                <value>Происходит проверка связи. Пожалуйста, ждите.</value>
            </setting>
            <setting name="DiagnosticsApplicationRunning" serializeAs="String">
                <value>Приложение проверки связи начинает работу</value>
            </setting>
            <setting name="DisableDiagnosticsAutorun" serializeAs="String">
                <value>Убрать Диагностику из Автозапуска ?</value>
            </setting>
            <setting name="TestingNetworkSpeed" serializeAs="String">
                <value>Происходит измерение скорости. Не закрывайте это окно.</value>
            </setting>
            <setting name="SpeedTestServerAddress" serializeAs="String">
                <value>89.106.248.22</value>
            </setting>
            <setting name="ApplicationFilename" serializeAs="String">
                <value>RuskomDiagnostics</value>
            </setting>
            <setting name="CommunicationPeriodMilliseconds" serializeAs="String">
                <value>900000</value>
            </setting>
            <setting name="ApplicationFileExtension" serializeAs="String">
                <value>.exe</value>
            </setting>
            <setting name="UserStartupRegistryPath" serializeAs="String">
                <value>SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Run</value>
            </setting>
            <setting name="NetworkAdaptersRequisitesFromTitle" serializeAs="String">
                <value>Реквизиты сетевых подкючений</value>
            </setting>
            <setting name="PathEnvironmentVariableName" serializeAs="String">
                <value>PATH</value>
            </setting>
            <setting name="PostDiagnosticsResultFormat" serializeAs="String">
                <value>type=lan_diag&amp;gwrs={0}&amp;rk1rs={1}&amp;ggrs={2}&amp;gwlost={3}&amp;rk1lost={4}&amp;gglost={5}&amp;biggwrs={6}&amp;bigrk1rs={7}&amp;bigggrs={8}&amp;biggwlost={9}&amp;bigrk1lost={10}&amp;biggglost={11}&amp;laniperfip={12}&amp;laniperfspeed={13}&amp;osv={14}&amp;d_ip={15}&amp;d_mac={16}&amp;d_t={17}</value>
            </setting>
            <setting name="ShowBalanceTitle" serializeAs="String">
                <value>Баланс</value>
            </setting>
            <setting name="SpeedTestError" serializeAs="String">
                <value>При выполнении проверки скорости произошла ошибка</value>
            </setting>
            <setting name="SpeedTestFail" serializeAs="String">
                <value>При выполнении проверки скорости произошёл сбой</value>
            </setting>
            <setting name="BalanceRequest" serializeAs="String">
                <value>type=balance</value>
            </setting>
            <setting name="TraceCompleteMessage" serializeAs="String">
                <value>Построение маршрута завершенно</value>
            </setting>
            <setting name="DayInMilliseconds" serializeAs="String">
                <value>86400000</value>
            </setting>
            <setting name="NetworkRequisitesWillBeHere" serializeAs="String">
                <value>Здесь будут написаны реквизиты сетевых соединений . Пожалуйста ждите</value>
            </setting>
            <setting name="NetshExecutable" serializeAs="String">
                <value>netsh.exe</value>
            </setting>
            <setting name="NetshProgramArguments" serializeAs="String">
                <value>interface ipv4 show config</value>
            </setting>
            <setting name="TraceComplete" serializeAs="String">
                <value>Построение маршрута завершенно</value>
            </setting>
            <setting name="CmdCodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="ShowContactsTitle" serializeAs="String">
                <value>РусКом Контакты</value>
            </setting>
            <setting name="ShowContactsMessage" serializeAs="String">
                <value>Абон.отдел:
Адрес: Щорса, д. 7
Телефон: 251-93-00
e-mail: rk1@rk1.ru
Время работы:
С ПОНЕДЕЛЬНИКА ПО ПЯТНИЦУ 
С 09:00 ДО 20:00 
СУББОТА, ВОСКРЕСЕНЬЕ – ВЫХОДНОЙ


Тех.поддержка:
Телефон: 221-32-50
e-mail: support@rk1.ru
Время работы:
С 08:00 до 23:00
КАЖДЫЙ ДЕНЬ
</value>
            </setting>
        </RuskomDiagnostics.Properties.Settings>
    </userSettings>
</configuration>
